.Container{
    max-width: 1140px; 
    margin: 2.5rem auto 0 auto; 
    padding-right: 15px;
    padding-left: 15px; 
    font-family: Raleway; 
    line-height: 1.5;
} 
.Header{
    font-style: italic;
    color: black;
} 

.Header:hover {
    color: #007bff;

}
.Title > h2{
    margin-top: 1rem; 
    font-weight: bold; 
    font-size: 2rem;
} 
.Topic{
    font-family: 'Roboto', sans-serif;
    margin: 1rem 0;
    border-radius: 5px;
    border: 2px solid #0095FF;
    color: black;
    display: flex;
    align-items: center; 
    line-height: 1.5;
    box-shadow: 0 0 24px rgba(192, 195, 195, 0.7);
    height: 7vh;
}

.Topic:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 10;
}
.Easy{
    background-color: #0095FF;
    height: 100%;
    color: white;
    font-weight: bold;
    font-style: italic;
}
.Topic > span {
    width: 12%;
} 
.EasyBorder{
    border: 2px solid #0095FF!important; 
} 

.ProblemDetails{
    display: flex;
    justify-content: space-between;
    width: 100%;

} 
.ProblemTitle{
    padding-left: 1rem;
    padding-top: 0.2rem;

}
.ProblemDifficulty{
    font-family: "Roboto" , sans-serif;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Status:hover {
    color: #fff;
    background-color: rgba(0, 155, 250, 1);
    border-color: transparent;
    border-radius: 2px;
    box-shadow: 0 0 12px rgba(0, 155, 250, 0.7);
}

.Status{
    padding: 1px 5px;
    margin-right: 12px;
    width: auto;
    border: 2px solid #007bff;
    color: #007bff;
} 
.Medium{
    background-color: #8455FC;
    color: white;
    font-weight: bold;
    font-style: italic;
}

.Easy, .Medium {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.MediumBorder{
    border: 2px solid #8455FC;
}

@media (max-width: 968px) {
    .Container {
        padding: 0;
        margin: 8% 2%;
    }

    .Header {
        font-size: 14px;
    }

    .ProblemTitle {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .Easy, .Medium {

        font-size: 10px;
        font-weight: 500;
    }

    .ProblemDetails {
        align-items: center;
        margin-left: 12px;
    }

    .ProblemTitle {
        display: flex;
        flex-direction: column;
        font-size: 12px;
    }

    .Status {
        font-size: 10px;
        font-weight: 500;
        border-width: 1px;
        border-radius: 4px;
        padding: 2px 8px;
    }

}

@media (max-width: 600px) {
    .Easy, .Medium {
        padding: 0 4px;
        text-align: center;
    }
}