.MainWrapper {

    margin: 0 auto;
    width: 1200px;

} 
.Heading1{
    font-weight: 500;
    font-size: 40px;
    color: rgba(0,0,0,0.8);
    letter-spacing: 1px;
    margin-bottom: 0;

} 
.Heading2{
    margin-top: 10px;
    font-family: Roboto,sans-serif;
    color: rgba(0,0,0,0.6);
    letter-spacing: 1px; 
} 
.MiddleWrapper{
    margin: 1rem;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;

} 
.CardsWrapper{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
 
} 
.CardsWrapper > a{
width :  calc(25% - 10px); 
margin: 5px ;
}
* {
box-sizing: border-box;
}

.signupActive{
    display: none;
}
.loginActive{
    display: none;
}
.alterSignupActive{
    display: block;
}
.alterLoginActive{
    display: block;
}