.MainWrapper {

    margin: 0 auto;
    max-width: 1200px;

    margin: 0 14%;
} 
.Heading1{
    font-size: 40px;
    color: rgba(0,0,0,0.8);
    letter-spacing: 1px;
    margin-bottom: 0;
    font-weight: 600;
} 
.Heading2{
    margin-top: 10px;
    font-family: Roboto,sans-serif;
    color: rgba(0,0,0,0.6);
    letter-spacing: 0.5px;
    font-weight: 500;
} 
.MiddleWrapper{
    font-size: 16px;
    font-family: 'Raleway', sans-serif;

} 
/*.CardsWrapper{*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    margin: 20px 0;*/
/*} */
/*.CardsWrapper > a{*/
/*    width :  24%;*/
/*    margin: 5px;*/
/*}*/

.CardsWrapper {
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    justify-content: space-between;
    grid-row-gap: 6%;
    height: fit-content;
    padding: 0 0 24px 0;
}
* {
    box-sizing: border-box;
}

.signupActive{
    display: none;
}
.loginActive{
    display: none;
}
.alterSignupActive{
    display: block;
}
.alterLoginActive{
    display: block;
} 

@media(max-width:968px){

    .MainWrapper {
        margin: 0 3%;
    }

    .CardsWrapper{
        grid-template-columns: 100%;
        grid-row-gap: 12px;

    }
    .Heading1{
        font-weight: 600;
        font-size: 2rem;
        color: rgba(0,0,0,0.8);
        letter-spacing: 1px;
    }


}