
.Card{
    background: #FFFFFF;
    padding: 10px 20px;
    width: 100% ; 
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(195,195,195, 1);
    color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    height: 15vh;
    justify-content: space-between;
}

.Card:hover {
    box-shadow: 0 0 6px #0095FF;
}

.courseName{
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 600;
    font-size: 22px;
    margin: 0;
    letter-spacing: 0.6px;
    height: 70%;
    overflow: hidden;

} 
.units{
    position: absolute;
    bottom: 16px;
    left: 0;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: rgba(0,0,0,0.6);

} 
.CardContent {
    width: 60%;
    height: 100%;
    padding: 12px 0;
    position: relative;
}

.CardImage {
    width: 40%;
}
.Thumbnail > img{
    width: 65px;
    height: 65px;
}  

* {

    box-sizing: border-box;
    
    }