
.Card{
    background: #FFFFFF;
    padding: 10px 20px;
    width: 100% ; 
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(195,195,195, 1);
    color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    height: 15vh;
    justify-content: space-between;
}

.Card:hover {
    box-shadow: 0 0 6px #0095FF;
}

.courseName{
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 600;
    font-size: 20px;
    margin: 0;
    letter-spacing: 0.6px;
    height: 75%;
} 
.units{
    position: absolute;
    bottom: 12px;
    left: 0;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: rgba(0,0,0,0.6);

} 
.CardContent {
    width: 60%;
    height: 100%;
    padding: 12px 0;
    position: relative;
}

.CardImage {
    width: 30%;
    margin-right: 12px;
}

.Thumbnail {
    width: 100%;
}

.Thumbnail > img{
    width: 100%;
}  

* {

    box-sizing: border-box;
    
    } 


@media(max-width:968px){

    .Thumbnail > img{
        width: 100%;
       height: auto;
    }  
    .Thumbnail{

     width: 100%;

    } 
    .Card{
        background: #FFFFFF;
        padding: 5% 6%;
        width: 100% ; 
        border-radius: 10px;
        box-shadow: 0 0 2px 1px #0096ff;
        color: rgba(0, 0, 0, 0.8);
        display: flex;
        align-items: center;
        font-family: 'Raleway', sans-serif;
        height: auto; 
     
    
    }
    .CardImage {
        width: 20%;
    }
    .CardContent {
        width: 70%;
    }
    .units {
        right: 0;
        left: auto;
    }
     
}    