body {
    background-color: #f2f6ff !important;
    font: normal 16px Roboto;
    /*done for sticky footer*/
    padding:65px 0 0 0;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    min-height:100vh;
    /*done for sticky footer*/
}

sup {
    font-size: 7px;
    top: -2em;
}

.table .no-border tr td, .table .no-border tr th {
    border-width: 0;
}

.btn{
    width: 10em;
}

a:link,a:visited
,a:hover
,a:active{
	text-decoration:none;
}
a:foucs{
	outline:none;
	border:none;
}

.heading {
    color: blue;
    font-size: 30px;
    padding: 0;
    margin: 10px 0 0 0;
    width: 40.0%;
    display: inline-block;
}

.heading a:link{
    text-decoration: none;
}

.back-link {
    float: left;
    margin-left: 3%;
}

.logout-link {
    float: right;
    margin-right: 3%;
}

.footer-item > a:link, .footer-item > a:visited, .footer-item > a:hover, .footer-item > a:active{
    text-decoration:none;
    color: white;
}

.nav-content-1 > .nav-item{
	margin:0 24px;
}

.nav-item > a {
    color: black !important;
}

.navigation-container{
	width: 100%;
	height: 65px;
	z-index: 90;
	padding: 1em 4.875em;
	background-color: #fff;
	box-shadow: 0 1px 1px #ccc;
	position: fixed;
	top: 0;
	left: 0;
	display:flex;
	align-items:center;
	flex-direction:columns;
	justify-content: space-between;
	box-sizing: border-box;
	z-index: 90;
	font-family: Open Sans,sans-serif;
}

.nav-content-1,.nav-content-2{
	display:flex;
	justify-content: center;
	align-items:center;
	text-transform: capitalize;
	
}

.tab {
    border: 1.5px solid black;
    background-color: whitesmoke;
    border-color: #dee2e6 #dee2e6 #fff;
    border-radius: 5px;
}

.primary-btn{
	text-transform: capitalize;
	border:1px solid transparent;
	border-radius:50px;
	background: linear-gradient(269deg,#0048ff,#0096ff);
	color:#FFF;
	font-weight:400;
	padding: .495rem .95rem;
	vertical-align: middle;
	text-align:center;
	font-size: 0.8rem;
	line-height: 1.5;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.nav-content-1 > .nav-item:hover,.nav-content-2 > .nav-item:hover,.primary-btn:hover{
	cursor:pointer;
}

.sidebar-wrapper{
	background: rgba(0,0,0,0.67);
	position:fixed;
	z-index:91;
	top:0;
	bottom:0;
	left:0;
	right:0;
	transition:all ease-in-out 0.2s;
	visibility:hidden;
	opacity:0;
}

.sidebar-nav-item-container{
    margin:65px 0;
    position: relative;
}

.close {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: -50px;
}

.sidebar-navigation{
	background: #FFF;
	position:fixed;
	top:0;
	bottom:0;
	right:-300px;
	height:100%;
	width:300px;
	z-index:92;
	transition:all linear 0.22s;
	visibility:hidden;
}

.sidebar-nav-item{
	padding:0 0 24px 14px;
	text-transform:capitalize;
    font-family: Open Sans,sans-serif;
    color: black;
}

.sidebar-nav-item:hover{
	cursor: pointer;
}


.sidebar-accordion{
	display:flex;
	flex-direction:column;
	padding:1.25rem 0 0 1.07rem;
	max-height:0;
	visibility: hidden;
}
.emerged{
	visibility: visible;
	max-height:1000px;
}

.sidebar-accordion a {
	color:rgba(0,0,0,0.6);
	margin-bottom:0.57rem;
}

.sidebar-accordion a:hover,.sidebar-accordion a :focus,.sidebar-accordion a :link,.sidebar-accordion a:visited{
	text-decoration:none;
	color:rgba(0,0,0,0.6);
}
.sidebar-toggle:hover {
    cursor: pointer;
}

.burger-icon{
	display:none;
}

.footer-container{
	bottom:0;
	right:0;
	left:0;
	background:#172146;
	padding: 80px 16%;
	color: #fff;
	font-family:roboto;
	width:100%;
	/*box-sizing: border-box;*/
	/*done for sticky footer*/
	margin:auto 0 0 0 ;
	/*done for sticky footer*/
}

.footer-item-container{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
}

.footer-link-section{
	margin:10px;
	display:flex;
	max-width:220px;
	flex-direction:column;
	justify-content:center;
	flex-wrap:nowrap;
	align-self:flex-start;
}

.footer-item,.footer-item-with-icon{
	margin:5px 0 5px 0;
	margin-bottom:5px;
	color: white;
	font-weight:300;
	font-size: 13px
}

.footer-item-with-icon{
	display: flex;
	align-items:center;
}

.footer-item-with-icon > img{
	margin:0 5px 0 0;
}

.footer-section-heading{
	color: hsla(0,0%,100%,.5);
	margin:1em 0 1em 0;
	text-transform: uppercase;
	font-weight:500;
}

.footer-section-social-links{
	margin:1em 0 1em 0;

}

.footer-section-social-links > img{
	height: 20px;
	margin-left: 4px;
	margin-right: 12px;
}

.land{
	width: 20px;
}

.tweet{
	width: 20px;
}

.fb{
	width:12px;
}

.linkden{
	width: 20px;
}

.footer-section-copyright{
	margin:1em 0 1em 0;
	letter-spacing:0.3px;
	font-size:11px;
}

.main-body {
	/*min-height:500px;*/
	margin:0 auto;
	width:1200px;
}
.course-page{
    margin: 1rem;
    font-size: 16px;
    font-family: Raleway;
}

#offering {
    font-weight:500;
    font-size: 40px;
    color:rgba(0,0,0,0.8);
    letter-spacing:1px;
    margin-bottom:0;
}

#skill-status{
    margin-top: 0;
    font-family:Roboto,sans-serif;
    color:rgba(0,0,0,0.6);
    letter-spacing:1px;
}

.skill{
    margin: 0 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #000000;
    font-family: Roboto;
}

.skill:hover{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5); 
}

a:hover{
    text-decoration: none;
}

#problems-count{
    font-style: italic;
}
/* -----------------------------------------
   Timeline
----------------------------------------- */
.timeline {
    list-style: none;
    padding-left: 0;
    position: relative;
  }
  .timeline:after {
    content: "";
    height: auto;
    width: 1px;
    background: #e3e3e3;
    position: absolute;
    top: 5px;
    left: 30px;
    bottom: 25px;
  }
  .timeline.timeline-sm:after {
    left: 12px;
  }
  .timeline li {
    position: relative;
    padding-left: 70px;
    margin-bottom: 20px;
  }
  .timeline li:after {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #e3e3e3;
    position: absolute;
    left: 24px;
    top: 5px;
  }
  .timeline li .timeline-date {
    display: inline-block;
    width: 100%;
    color: #a6a6a6;
    font-style: italic;
    font-size: 13px;
  }
  .timeline.timeline-icons li {
    padding-top: 7px;
  }
  .timeline.timeline-icons li:after {
    width: 32px;
    height: 32px;
    background: #fff;
    border: 1px solid #e3e3e3;
    left: 14px;
    top: 0;
    z-index: 11;
  }
  .timeline.timeline-icons li .timeline-icon {
    position: absolute;
    left: 23.5px;
    top: 7px;
    z-index: 12;
  }
  .timeline.timeline-icons li .timeline-icon [class*=glyphicon] {
    top: -1px !important;
  }
  .timeline.timeline-icons.timeline-sm li {
    padding-left: 40px;
    margin-bottom: 10px;
  }
  .timeline.timeline-icons.timeline-sm li:after {
    left: -5px;
  }
  .timeline.timeline-icons.timeline-sm li .timeline-icon {
    left: 4.5px;
  }
  .timeline.timeline-advanced li {
    padding-top: 0;
  }
  .timeline.timeline-advanced li:after {
    background: #fff;
    border: 1px solid #29b6d8;
  }
  .timeline.timeline-advanced li:before {
    content: "";
    width: 52px;
    height: 52px;
    border: 10px solid #fff;
    position: absolute;
    left: 4px;
    top: -10px;
    border-radius: 50%;
    z-index: 12;
  }
  .timeline.timeline-advanced li .timeline-icon {
    color: #29b6d8;
  }
  .timeline.timeline-advanced li .timeline-date {
    width: 75px;
    position: absolute;
    right: 5px;
    top: 3px;
    text-align: right;
  }
  .timeline.timeline-advanced li .timeline-title {
    font-size: 17px;
    margin-bottom: 0;
    padding-top: 5px;
    font-weight: bold;
  }
  .timeline.timeline-advanced li .timeline-subtitle {
    display: inline-block;
    width: 100%;
    color: #a6a6a6;
  }
  .timeline.timeline-advanced li .timeline-content {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 70px;
  }
  .timeline.timeline-advanced li .timeline-content p {
    margin-bottom: 3px;
  }
  .timeline.timeline-advanced li .timeline-content .divider-dashed {
    padding-top: 0px;
    margin-bottom: 7px;
    width: 200px;
  }
  .timeline.timeline-advanced li .timeline-user {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
  }
  .timeline.timeline-advanced li .timeline-user:before,
  .timeline.timeline-advanced li .timeline-user:after {
    content: " ";
    display: table;
  }
  .timeline.timeline-advanced li .timeline-user:after {
    clear: both;
  }
  .timeline.timeline-advanced li .timeline-user .timeline-avatar {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 10px;
  }
  .timeline.timeline-advanced li .timeline-user .timeline-user-name {
    font-weight: bold;
    margin-bottom: 0;
  }
  .timeline.timeline-advanced li .timeline-user .timeline-user-subtitle {
    color: #a6a6a6;
    margin-top: -4px;
    margin-bottom: 0;
  }
  .timeline.timeline-advanced li .timeline-link {
    margin-left: 5px;
    display: inline-block;
  }
  .timeline-load-more-btn {
    margin-left: 70px;
  }
  .timeline-load-more-btn i {
    margin-right: 5px;
  }
  
  
  /* -----------------------------------------
     Dropdown
  ----------------------------------------- */
  .dropdown-menu{
      padding:0 0 0 0;
  }
  a.dropdown-menu-header {
      background: #f7f9fe;
      font-weight: bold;
      border-bottom: 1px solid #e3e3e3;
  }
  .dropdown-menu > li a {
      padding: 10px 20px;
  }
  
  /* -----------------------------------------
     Badge
  ----------------------------------------- */
  
  .badge{
      padding: 3px 5px 2px;
      position: absolute;
      top: 8px;
      right: 5px;
      display: inline-block;
      min-width: 10px;
      font-size: 12px;
      font-weight: bold;
      color: #ffffff;
      line-height: 1;
      vertical-align: baseline;
      white-space: nowrap;
      text-align: center;
      border-radius: 10px;
  }
  .badge-danger {
      background-color: #db5565;
  }

  #unread {
      background-color: whitesmoke;
  }


@media screen and (max-width:991px){
    .nav-content-1 > .nav-item,.nav-content-2{
		display:none;
	}
	.nav-content-1{
		width: 100%;
		justify-content: space-between;
	}
	.burger-icon{
        display:block;
    }

	.footer-item-container{
		flex-direction: column;
		flex-wrap:wrap;
	}	
	.footer-container{
		max-height:none;
	}
}

.navigation-container > .nav-content-2 > .nav-item:nth-child(2){
	position:relative;
	padding:0 12px;
}

.displaying{
	display:block;
}

.notif-backdrop{
	display:none;
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background:rgba(0,0,0,0.4);
	z-index:4;
}
.triangle-node-pointer{
	display:none;
	background: #FFFFFF;
	position:absolute;
	top:43px;
	left:12px;
	z-index:6;
	height:12px;
	width:12px;
	transform:rotate(45deg);
	border:0.7px solid rgba(0,0,0,0.4);
	border-bottom:none;
	border-right:none;
}

.bell-menu{
	display:none;
	background: #FFFFFF;
	padding:24px 0 0 0;
	max-height:400px;
	position:absolute;
	top:65px;
	left:-95px;
	z-index:5;
	border-radius:4px;
	overflow-y:auto;
	width:280px;
	border:0.7px solid rgba(0,0,0,0.4);
}


/*removable*/
.dropbtn {
  padding: 16px;
  font-size: 16px;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  /*background-color: #2980B9;*/
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  background: teal;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

@media screen and (max-width:1200px){

	.main-body{
		width:900px;
	}
}

@media screen and (max-width:800px){

	.main-body{
		width:690px;
	}
}

@media screen and (max-width:449px){
	.main-body{
		width:380px;
	}
} 


#root {
    width: 100%;
}