.MainWrapper{
    width: 100%;
    height: 65px;
    z-index: 90;
    padding: 1em 4.875em;
    background-color: #fff;
    box-shadow: 0 1px 1px #ccc;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    justify-content: space-between;
    box-sizing: border-box;
    z-index: 90; 
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    font-family:  'Open Sans', sans-serif;
} 
.LeftSide , .RightSideWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
} 
.LogoLink > img{
    width: 200px ;  
    height:40px ;  

} 
.ContentWrapper{
    margin: 0 22px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
} 
.Hamburger{
display: none ; 
}

.ContentWrapper:hover {
    border-bottom: 1px solid rgba(195,195,195,0.7);
    transform: scale(1.1);
}

.Hamburger > img {


} 

.NotificationWrapper{
margin-right: 20px;

} 

.IconWrapper{
    position: relative;

}
.IconWrapper > svg {
    font-size: 20px;
    cursor: pointer;
    width: 20px !important;
    height: 45px !important;

}
.IconWrapper:hover .Badge {
    animation-name: notificationCount;
    animation-duration: 700ms;
    animation-iteration-count: infinite;
    transition: transform 400ms ease;
}

.IconWrapper:hover svg {
    animation-name: notificationBell;
    animation-duration: 150ms;
    animation-iteration-count: infinite;
}
.Badge{
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem; 
    min-width: 10px; 
    position: absolute;
    top: 2px;
    right: -8px;
    color: #fff;
    background-color: #dc3545;
    transform: scale(0.9);
} 
.DropdownContent{
    position: relative;
    padding: 0 12px;
}

.UserName{


} 
.UserName > svg  {
    margin-left: 20px;
} 
.UserName:hover {
    border-bottom: 1px solid rgba(195,195,195,0.7);
}

.DropdownContainer{
    display: none;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px 0px;
    border-color: rgb(0, 0, 0);
    position: absolute;
    transform: translate3d(-50px, 28px, 0px);
    will-change: transform;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem; 
    z-index: 1000;
    top: 0;
    right: -100%;
} 
.DropdownItem{
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
} 
.DropdownDivider {
    height: 0;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef;

} 
.DropdownItem:hover{
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;

} 

.displayBlockUser{
    display: none
}
.rightLoginWrapper{
    display: flex;
    align-items: center;
}
.loginButton{
    color: #3194FF;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    cursor: pointer;
}
.signButton{
    border-radius: 50px;
    background: linear-gradient(269deg,#0048ff,#0096ff);
    color: #fff;
    padding: 11px 22px;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 500;
    margin-left: 20px;
    text-transform: capitalize;
    cursor: pointer;
}
.signUpInactive{
    display: none;
}

@keyframes notificationBell {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(15deg);
    }
    75% {
        transform: rotate(-15deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes notificationCount {
    80% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.9);
    }
}